<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EP-FC Filtered Collection Module</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <main>
        <div class="ep-fc-filtered-collection">
            <div id="ep-fc-filters" class="ep-fc-filters">
                <form>
                    <fieldset id="ep-fc-filter-type" data-ep-fc-filter-type="logicOperator:is" class="ep-ec-filter">
                        <legend>Тип</legend>
                        <input type="checkbox" name="type" data-ep-fc-filter="compareOperator:=" value="house">Дом<br>
                        <input type="checkbox" name="type"  data-ep-fc-filter="compareOperator:=" value="bath">Баня<br>
                        <input type="checkbox" name="type"  data-ep-fc-filter="compareOperator:=" value="others">Прочее<br>
                    </fieldset>
                    <fieldset id="ep-fc-filter-area" data-ep-fc-filter-type="logicOperator:interval" class="ep-ec-filter">
                        <legend>Площадь</legend>
                        От<input type="number" name="area" data-ep-fc-filter="compareOperator:>=" value=0><br>
                        До<input type="number" name="area" data-ep-fc-filter="compareOperator:<=" value=300><br>
                    </fieldset>
                    <fieldset id="ep-fc-filter-floors" data-ep-fc-filter-type="logicOperator:is" class="ep-ec-filter">
                        <legend>Этажи</legend>
                        1<input type="checkbox" name="floors" data-ep-fc-filter="compareOperator:=" value=1>
                        2<input type="checkbox" name="floors" data-ep-fc-filter="compareOperator:=" value=2>
                        3<input type="checkbox" name="floors" data-ep-fc-filter="compareOperator:=" value=3>
                    </fieldset>
                    <fieldset id="ep-fc-filter-bedrooms" data-ep-fc-filter-type="logicOperator:is" class="ep-ec-filter">
                        <legend>Комнаты / спальни</legend>
                        1<input type="checkbox" name="bedrooms" data-ep-fc-filter="compareOperator:=" value=1>
                        2<input type="checkbox" name="bedrooms" data-ep-fc-filter="compareOperator:=" value=2>
                        3<input type="checkbox" name="bedrooms" data-ep-fc-filter="compareOperator:=" value=3>
                        4<input type="checkbox" name="bedrooms" data-ep-fc-filter="compareOperator:=" value=4>
                        5<input type="checkbox" name="bedrooms" data-ep-fc-filter="compareOperator:=" value=5>
                    </fieldset>
                    <fieldset id="ep-fc-filter-technology" data-ep-fc-filter-type="logicOperator:is" class="ep-ec-filter">
                        <legend>Технология</legend>
                        <input type="checkbox" name="technology" data-ep-fc-filter="compareOperator:=" value="Проф. брус">Профилированный брус<br>
                        <input type="checkbox" name="technology" data-ep-fc-filter="compareOperator:=" value="Лафет">Лафет<br>
                        <input type="checkbox" name="technology" data-ep-fc-filter="compareOperator:=" value="Газобетон">Газобетон<br>
                        <input type="checkbox" name="technology" data-ep-fc-filter="compareOperator:=" value="Каркас">Каркас<br>
                    </fieldset>
                    <button type="submit">Применить</button>
                    <button type="reset">Сбросить</button>
                </form>
            </div>
            <div class="ep-fc-collection">
                <div class="ep-fc-collection-header">
                    <div class="ep-fc-collection-sort">
                        <ul>Сортировать по:
                            <li><a href="#ep-fc-sort-by-area">площади</a></li>
                            <li><a href="#ep-fc-sort-by-name">названию</a></li>
                            <li><a href="#ep-fc-sort-by-tech">технологии</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ep-fc-collection-main">
                    <div class="ep-fc-items">
                    </div>
                </div>
                <div class="ep-fc-collection-footer">
                    <div class="ep-fc-collection-show">
                        <ul class="ep-fc-collection-show-pages">Страница:
                            <li class="ep-fc-collection-show-active-page"><a href="#ep-fc-collection-page01">1</a></li>
                            <li><a href="#ep-fc-collection-page02">2</a></li>
                            <li><a href="#ep-fc-collection-page03">3</a></li>
                        </ul>
                        <ul class="ep-fc-collection-show-type">
                            Показывать:
                            <li><a href="#ep-fc-show-12-items">12</a></li>
                            <li><a href="#ep-fc-show-24-items">24</a></li>
                            <li><a href="#ep-fc-show-all-items">Все</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/template" id="ep-fc-project-template">
        <a href="#<%- id %>">
            <img class="ep-fc-item-image" src="<%- imageSrc %>">
            <h3 class="ep-fc-item-title"><%- title %></h3>
            <div class="ep-fc-item-desc">
                <table>
                    <tr>
                        <td>Площадь</td>
                        <td><%= area %>м2</td>
                    </tr>
                    <tr>
                        <td>Технология</td>
                        <td><%- technology %></td>
                    </tr>

                    <tr>
                        <td>Комнат</td>
                        <td><%= bedrooms %></td>
                    </tr>
                    <tr>
                        <td>Реализован</td>
                        <td><%- realized %></td>
                    </tr>
                </table>
            </div>
        </a>
    </script>

    <script src="js/libs/jquery-1.12.3.min.js"></script>
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/models/projectModel.js"></script>
    <script src="js/collections/projectsList.js"></script>
    <script src="js/views/projectView.js"></script>
    <script src="js/views/filterView.js"></script>
    <script src="js/views/filtersView.js"></script>
    <script src="js/views/projectsListView.js"></script>
    <script src="js/views/catalogView.js"></script>
    <script src="js/module.js"></script>
</body>
</html>