/* Screen breakpoint */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ep-fc-filtered-collection {
  margin: 0 auto; }
  @media (min-width: 960px) {
    .ep-fc-filtered-collection {
      max-width: 960px; } }
  @media (min-width: 1224px) {
    .ep-fc-filtered-collection {
      max-width: 1224px; } }
  @media (min-width: 1824px) {
    .ep-fc-filtered-collection {
      max-width: 1824px; } }
  .ep-fc-filtered-collection .ep-fc-filters {
    width: 97.39583333%;
    margin: 1.302083333%; }
    @media (min-width: 768px) {
      .ep-fc-filtered-collection .ep-fc-filters {
        float: left;
        width: 31.510416666%;
        margin: 1.302083333%; } }
    @media (min-width: 960px) {
      .ep-fc-filtered-collection .ep-fc-filters {
        width: 24.183006535%;
        margin: 0.816993464%; } }
    @media (min-width: 1224px) {
      .ep-fc-filtered-collection .ep-fc-filters {
        width: 19.517543859%;
        margin: 0.548245614%; } }
  .ep-fc-filtered-collection .ep-fc-collection {
    width: 97.39583333%;
    margin: 1.302083333%; }
    @media (min-width: 768px) {
      .ep-fc-filtered-collection .ep-fc-collection {
        float: right;
        width: 63.39583333%;
        margin: 1.0416666%; } }
    @media (min-width: 960px) {
      .ep-fc-filtered-collection .ep-fc-collection {
        width: 72.549019607%;
        margin: 0.816993464%; } }
    @media (min-width: 1224px) {
      .ep-fc-filtered-collection .ep-fc-collection {
        width: 78.2894733684%;
        margin: 0.548245614%; } }
    @media (max-width: 519px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        width: 96.153846153%;
        margin: 1.923076923%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:after {
          content: " ";
          display: table;
          clear: both; } }
  @media (max-width: 519px) and (min-width: 320px) and (max-width: 519px) {
    .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item .ep-fc-item-image {
      display: inline-block;
      float: left;
      width: 46.153846153%;
      margin-right: 3.846153846%; } }

    @media (min-width: 520px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        float: left;
        width: 47.39583333%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:nth-child(2n+1) {
          margin-right: 2.60416666%; } }
    @media (min-width: 768px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        width: 48.3713355%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:nth-child(2n+1) {
          margin-right: 3.25732899%; } }
    @media (min-width: 960px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        width: 31.756756756%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:not(:nth-child(3n)) {
          margin-right: 2.252252252%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:nth-child(3n) {
          margin-right: 0; } }
    @media (min-width: 1224px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        width: 23.949579831%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:not(:nth-child(4n)) {
          margin-right: 1.400560224%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:nth-child(4n) {
          margin-right: 0; } }
    @media (min-width: 1824px) {
      .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
        width: 15.476190476%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:not(:nth-child(6n)) {
          margin-right: 1.400560224%; }
        .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:nth-child(6n) {
          margin-right: 0; } }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ep-fc-filtered-collection a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8); }

.ep-fc-hidden {
  display: none; }

body {
  font-size: 100%; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
.ep-fc-filtered-collection .ep-fc-filters {
  background-color: darkgoldenrod;
  border-radius: 0.75em;
  color: lavender;
  padding: 1em; }
  .ep-fc-filtered-collection .ep-fc-filters .ep-ec-filter {
    border: 2px solid ghostwhite;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.75em; }
    .ep-fc-filtered-collection .ep-fc-filters .ep-ec-filter legend {
      color: aliceblue;
      padding-right: 0.375em;
      padding-left: 0.25em; }
    .ep-fc-filtered-collection .ep-fc-filters .ep-ec-filter input {
      margin-bottom: 0.75em; }
    .ep-fc-filtered-collection .ep-fc-filters .ep-ec-filter.ep-ec-filter-number span {
      display: inline-block;
      width: 10%;
      margin-right: 0.5em; }
    .ep-fc-filtered-collection .ep-fc-filters .ep-ec-filter.ep-ec-filter-number input {
      text-align: center;
      width: 5em; }
  .ep-fc-filtered-collection .ep-fc-filters input:hover {
    cursor: pointer; }
  .ep-fc-filtered-collection .ep-fc-filters button {
    width: 80%;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
    margin: 0 10% 0.75em 10%; }
    .ep-fc-filtered-collection .ep-fc-filters button:hover {
      cursor: pointer;
      background-color: bisque; }

.ep-fc-filtered-collection .ep-fc-collection .ep-fc-item {
  padding: 1em;
  border-radius: 0.5em; }
  .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item .ep-fc-item-image {
    max-width: 100%; }
  .ep-fc-filtered-collection .ep-fc-collection .ep-fc-item:hover {
    background-color: burlywood; }

.ep-fc-filtered-collection .ep-fc-item-page {
  max-width: 1224px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.8); }
  .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-item-page-heading {
    margin-left: 0.816993464%; }
  .ep-fc-filtered-collection .ep-fc-item-page img {
    max-width: 100%; }
  .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-img-viewer:after {
    content: " ";
    display: table;
    clear: both; }
  .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-img-viewer .ep-fc-img-viewer-show {
    width: 64.488017429%;
    margin: 0.816993464%;
    float: left; }
  .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-img-viewer .ep-fc-img-viewer-thumbnails {
    width: 32.189542483%;
    margin: 0.816993464%;
    float: right; }
    .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-img-viewer .ep-fc-img-viewer-thumbnails a {
      display: inline-block;
      width: 47.461928934%;
      padding: 0 1.0em 1.0em 1.0em;
      margin-bottom: 0.5em; }
      .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-img-viewer .ep-fc-img-viewer-thumbnails a:nth-child(odd) {
        margin-right: 1.633986928%; }
  .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description {
    width: 31.699346405%;
    margin: 0.816993464%;
    border-radius: 0.5em;
    float: left; }
    .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description h3 {
      padding: 0.25em;
      background-color: lavender; }
    .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description table {
      width: 100%; }
      .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description table tr {
        background-color: cornsilk; }
        .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description table tr:nth-child(odd) {
          background-color: antiquewhite; }
        .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description table tr td {
          padding: 0.5em;
          width: 50%; }
    .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description p {
      margin: 0.5em 0 0.5em 0;
      text-indent: 1em; }
    .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description button {
      margin: 0.375em 10% 0.375em 10%;
      width: 80%;
      padding: 0.5em; }
      .ep-fc-filtered-collection .ep-fc-item-page .ep-fc-project-description button:first-of-type {
        margin-top: 1.0em; }

.ep-fc-collection-header {
  clear: both;
  padding-left: 0.8em; }
  .ep-fc-collection-header .ep-fc-collection-sort ul li {
    display: inline-block;
    margin: 0.25em 0.75em 1.0em 0.75em; }
    .ep-fc-collection-header .ep-fc-collection-sort ul li a {
      border-radius: 0.25em;
      padding: 0.125em 1.0em 0.25em 1.0em;
      background-color: burlywood; }

.ep-fc-collection-footer {
  clear: both;
  padding-top: 2.0em; }
  .ep-fc-collection-footer .ep-fc-collection-show {
    text-align: center; }
    .ep-fc-collection-footer .ep-fc-collection-show .ep-fc-collection-show-type li {
      margin-left: 0.25em;
      margin-right: 0.25em; }
    .ep-fc-collection-footer .ep-fc-collection-show ul li {
      display: inline-block;
      margin: 1.0em; }
      .ep-fc-collection-footer .ep-fc-collection-show ul li a {
        border-radius: 0.25em;
        padding: 0.25em 1.0em 0.25em 1.0em;
        background-color: burlywood; }

/*# sourceMappingURL=main.css.map */
